@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 0, 0, 0.884);
  color: white;
}


a{
  text-decoration: none;
  color: white;
}


/* form{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin:12rem auto;
  background-color: rgba(255, 255, 255, 0.829);
  padding: 1rem;
  gap: 1rem;
  color: black;
  border-radius: 10px;
  box-shadow: 0px 4px 2px 0px white;
-webkit-box-shadow: 0px 4px 2px 0px white;
-moz-box-shadow: 0px 4px 2px 0px white;
}
form input{
  padding: 0.7rem;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  background-color: gray;
  color: white;
} */
/* form input::placeholder{
  color: white;
} */
.signUp{
  border: none;
  padding: 1rem;
  width: 40%;
  color: white;
  font-weight: bold;
  border-radius: 1rem;
  background-color: black;
  margin: auto;
  cursor: pointer;
}
.signIn{
  width: 20%;
  border: none;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: black;
  color: wheat;
  cursor: pointer;
}


/* profile */
.profile{

}
.profile-card{
  width: 50%;
  margin:2rem auto;
  padding: 1rem;
  
  background-color: gray;
  color: white;
 
  border-radius: 4px;
}
.profile-card img{
  width: 120px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid lightblue;
}
.tasks{
  width: 80%;
  margin: auto;
}
.task-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  

}
.task-card{

  width: 30%;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
  background-color: gray;
  color:rgb(218, 212, 197);
}
.task-card span{
  text-transform: uppercase;
  color: rgb(170, 206, 124);
  font-weight: bold;
}

/* nav */

.profile-nav{
  display: flex;
  flex-direction: column;
}
.profile-nav button{
  border: 1px solid lightblue;
  box-shadow: 1px 2px 1px 1px;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.profile-nav button:hover{
  border: none;
  box-shadow: none;
}
.profile-nav a{
  border: 1px solid lightblue;
  padding:0.2rem 1rem;
  transition: all 0.5s ease-in-out;
}
.profile-nav a:hover{
  background-color: white;
  color: black;
}

/* home */
.home-container{
  width: 80%;
  margin:4rem auto;
  text-align: center;
}
.home-container h1{
  font-size: 4vw;
}

